[submodule "githubs/LDOVoron2"]
	path = githubs/LDOVoron2
	url = https://github.com/MotorDynamicsLab/LDOVoron2.git
[submodule "githubs/Voron-Stealthburner"]
	path = githubs/Voron-Stealthburner
	url = https://github.com/VoronDesign/Voron-Stealthburner.git
[submodule "githubs/LDOVoronTrident"]
	path = githubs/LDOVoronTrident
	url = https://github.com/MotorDynamicsLab/LDOVoronTrident.git
[submodule "githubs/Nevermore_Micro"]
	path = githubs/Nevermore_Micro
	url = https://github.com/nevermore3d/Nevermore_Micro
[submodule "githubs/Klicky-Probe"]
	path = githubs/Klicky-Probe
	url = https://github.com/jlas1/Klicky-Probe.git
[submodule "githubs/Voron-Tap"]
	path = githubs/Voron-Tap
	url = https://github.com/VoronDesign/Voron-Tap.git
[submodule "githubs/EnragedRabbitProject"]
	path = githubs/EnragedRabbitProject
	url = https://github.com/EtteGit/EnragedRabbitProject.git
[submodule "githubs/Print-Tuning-Guide"]
	path = githubs/Print-Tuning-Guide
	url = https://github.com/AndrewEllis93/Print-Tuning-Guide.git
[submodule "githubs/VoronUsers"]
	path = githubs/VoronUsers
	url = https://github.com/VoronDesign/VoronUsers.git
[submodule "githubs/Voron-Hardware"]
	path = githubs/Voron-Hardware
	url = https://github.com/VoronDesign/Voron-Hardware.git
[submodule "githubs/ERCF_v2"]
	path = githubs/ERCF_v2
	url = https://github.com/Enraged-Rabbit-Community/ERCF_v2.git
[submodule "githubs/CNC-Tap-for-Voron"]
	path = githubs/CNC-Tap-for-Voron
	url = https://github.com/Chaoticlab/CNC-Tap-for-Voron.git
[submodule "githubs/KNOMI"]
	path = githubs/KNOMI
	url = https://github.com/bigtreetech/KNOMI.git
[submodule "githubs/EBB"]
	path = githubs/EBB
	url = https://github.com/bigtreetech/EBB.git
[submodule "githubs/Galileo2"]
	path = githubs/Galileo2
	url = https://github.com/JaredC01/Galileo2.git
[submodule "githubs/voron"]
	path = githubs/voron
	url = https://github.com/chirpy2605/voron.git
[submodule "githubs/HBB"]
	path = githubs/HBB
	url = https://github.com/bigtreetech/HBB.git
